ASPECT/1.14285
DRAWING_DRAWER/Fd1:projects
LIBRARY_DRAWER/Fd1:projects/Libraries
LOAD_DRAWING/$Defaults.uvw
FONT_DRAWER/$Stroke_Lib 
HATCH_DRAWER/$Hatch_Lib
REXX_DRAWER/$Rexx
DIALOG_DRAWER/$Dialog
LOAD_DIALOG/$Ultradesign.uucm
FILL_HATCH_FILE/Hatch_Lib_One
FILL_HATCH_NAME/Grid
FILL_HATCH_SCALE/1.0
PLOT_DOT_SIZE/.5
TEMPLATE_DRAWER/$Templates
REPORT_DEV/PRT:
DRIVER_DRAWER/$Drivers
DXF_DRAWER/fd1:projects/aliens/Dxf-Files
DXY_DRAWER/fd1:projects/aliens/Dxy-Files
HPGL_DRAWER/fd1:projects/aliens/Hpgl-Files
INTRO_DRAWER/fd1:projects/aliens/Intro-Files
AEGIS_DRAWER/fd1:projects/aliens/Aegis-Files
AEGIS_FONT/simplex2
AEGIS_ASPECT/1.0
PIX_DRAWER/fd1:projects/aliens/Ultra-Pix
DEFS_DRAWER/$Definitions
PASTEUP_DEF/$Definitions/Paste-Startup.upd
PASTEUP_UNITS/INCHES
PAUSE_PAGE/0
PAUSE_PLOT/1
DIALOG_DEF/D
DIALOG_WB1/CNC:10/10/400/50/Dialog/
DIALOG_WB2/CON:10/10/400/50/Dialog
DIALOG_MN1/CNC:S%x/10/230/400/50/Dialog/
DIALOG_MN2/CON:10/10/400/50/Dialog
